.navbar {
    height: 56px;
    width: 100%;
    padding-top: 2%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
    
}



.navbar2{
    display: inline-flex;
    width: 100%;
}

.inputs{
    padding-left:10%;
    padding-top: 2px;

}

.inputsfiltrado{
    display: inline-flex;
}


.inputsfiltradores{
    border-radius: 10%;
    padding-left: 30%;
    height: 30px;
    
}




.selectores{
    background:#2d2d2d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(255, 255, 255, 0.829);
    height: 30px;

}
    

.busqueda{
    padding-top: 2px;
    display: flex;
    position: relative;
    left: 40%;
    margin-right: 20%;
}

.botonsearch{
    height: 30px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;


}

.inputsearch{
    background:#2d2d2d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(255, 255, 255, 0.829);
    height: 25px;
    border-radius: 10%;
}


.navlink1{
    color: rgba(255, 255, 255, 0.829);
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;



}

