body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe_2s2KT7pwIEMMVaH_SPE7UwvnKvG_zghTr2wxFvMOwPmsfF-LRLPlneonU8yw047Gr8&usqp=CAU');
    background-size: auto;
}

.inicio{
    font-size: 32px;
}

