body{
    background-image: url('./fondo/image-from-rawpixel-id-2760902-jpeg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.inicio{
    font-size: 32px;
    text-decoration: none;
}

.boton{
    margin-top: 20%;
    margin-left: 35%;
    cursor: pointer;
    border-radius: 10%;
        cursor: pointer;
        padding: 1rem 5rem;
        border-radius: 3.75rem;
        line-height: 2.5rem;
        font-size: 2rem;
     font-weight: 600;
        
        border: 1px solid #348001;
        background-image: linear-gradient(-180deg, #e79639 0%, #c0720c 100%);
                 font-style: italic;  
    
}

.boton :hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

