body{
    background-image: url('https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/29207.png');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.inicio{
    font-size: 32px;
    text-decoration: none;
}

.boton{
    margin-top: 20%;
    margin-left: 40%;

}

